/******************************************ESTILOS GENERALES****************************************/
/* RESETEO TOTAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; /*Para que el footer se quede abajo*/
}

h1 {
  font-size: 50px;
  color: #034606;
}

/* ============== MENU PRINCIPAL DE INDEX.HTML =================*/
.contenedor-menu-principal {
  background: linear-gradient(
    to right,
    #1a3d1e,
    #08a81d 30%,
    #08a81d 70%,
    #1a3d1e
  ); /*Para darle un degradado desde el centro a los laterales*/
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-logo {
  margin-top: 10px;
  width: 600px;
  height: 450px;
  border-radius: 600px;
}

.hero-titulo {
  font-size: 60px;
  font-weight: 1000;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.hero-subtitulo {
  font-size: 0.92rem;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.navegador-menu-principal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 480px;
  margin-bottom: 30px;
}

.menu-tarjeta {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #122618;
  border: 1px solid #1e3d25;
  border-radius: 16px;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease-in-out;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.menu-tarjeta:hover {
  background-color: #183020;
  border-color: #ffffff;
  transform: scale(1.05);
}

.menu-tarjeta-icono {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 40px;
  background-color: white;
}

.menu-tarjeta-titulo {
  font-size: 30px;
  font-weight: 700;
}

.menu-tarjeta-texto {
  display: flex;
  flex-direction: column;
}

.menu-tarjeta-descripcion {
  font-size: 12px;
}

.menu-tarjeta-flecha {
  font-size: 80px;
  line-height: 1;
  font-weight: 300;
}

/*======== FOOTER ============*/
.site-footer {
  background-color: #122618;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.site-footer-enlaces {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.site-footer-enlace {
  transition: transform 0.3s ease-in-out;
}

.site-footer-enlace:hover {
  transform: scale(1.5);
}

.site-footer-enlace img {
  width: 50px;
  height: 50px;
}

.site-footer-texto {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.site-footer-texto:hover {
  color: #08a81d;
  transform: scale(1.1);
}

/*======== BARRA NAVBAR COMÚN ============*/
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #08a81d;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-link-index {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.brand-logo {
  display: flex;
}

.brand-logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.brand-name {
  font-size: 20px;
  font-weight: 800;
  color: black;
}

.site-nav {
  display: flex;
  gap: 40px;
}

.site-nav__link {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

.site-nav__link:hover {
  color: white;
  transform: scale(1.2);
}

.pagina-actual {
  background-color: #000000;
  color: #08a81d;
  padding: 2px 6px 2px 6px;
  border-radius: 16px;
}

.pagina-actual:hover {
  color: black;
  background-color: white;
}

/*======== PÁGINA CLIENTES.HTML ============*/

#listaClientes {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#listaClientes li:not(.advertencia) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #034606;
}

#listaClientes li:first-child:not(.advertencia) {
  border-top: 1px solid #034606;
}

#listaClientes li:hover:not(.advertencia) {
  background-color: #ebe6e6;
}

.btn-ver-mas {
  background-color: #122618;
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
}

.btn-ver-mas:hover {
  background-color: #08a81d;
}

#buscador {
  padding: 10px 16px;
  border: 1px solid #bdbcbc;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  outline: none;
}

#buscador:focus {
  border-color: #08a81d;
}

/* === PÁGINA CLIENTEDETALLE.HTML ===*/

.detalle-cliente {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#zonaCliente {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#zonaCliente div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#zonaCliente div > h2 {
  font-weight: 800;
  text-transform: uppercase;
  color: #014b0b;
}

#zonaCliente div > p {
  border-bottom: 1px solid black;
}

#zonaCliente div > p strong {
  color: #014b0b;
}

#zonaCliente img {
  border-right: 2px solid rgb(85, 107, 88);
  padding-right: 100px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}

#zonaCliente .botones-editar-borrar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#listaRutinas {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.rutina-en-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #034606;
}

#listaRutinas li:first-child:not(.advertencia) {
  border-top: 1px solid #034606;
}

.rutina-en-lista:hover {
  background-color: #ebe6e6;
}

/*=== MUSCULOS.HTML Y EJERCICIOS.HTML ===*/
#listaMusculos,
#listaEjercicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

/*==== TARJETAS ====*/
.tarjeta {
  display: flex;
  flex-direction: column;
  background-color: #08a81d;
  gap: 15px;
  border: 3px solid green;
  border-radius: 40px;
  align-items: center;
  padding-bottom: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 350px;
  overflow: hidden;
}

.tarjeta:hover {
  transform: scale(1.1);
}

.tarjeta img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 40px;
  padding: 10px;
}

.tarjeta h2 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  color: white;
}

.tarjeta .btn-ver-mas {
  transition: background-color 0.3s ease-in-out;
}
.tarjeta .btn-ver-mas:hover {
  background-color: white;
  color: black;
}

/*====== BOTONES EDITAR Y BORRAR ======*/

.btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  font-weight: 650;
  color: white;
  transition: transform 0.1s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-editar {
  text-decoration: none;
  background-color: orange;
}

.btn-borrar {
  background-color: red;
  border: none;
}

/*======== FORMULARIO ========*/

.contenedor-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.formulario {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(1, 97, 1);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  gap: 5px;
  margin-bottom: 40px;
  width: 400px;
}

.formulario-input {
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px;
  border: 2px solid #bbe8b0;
  border-radius: 10px;
  font-size: 15px;
  background-color: #e8ffe1;
  color: #0a3b12;
}

.formulario-input:focus {
  outline: none;
  border-color: #02680b;
}

.formulario-label {
  color: #137c18;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  margin-top: 5px;
}

.desplegable {
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 8px;
  border-radius: 10px;
  font-size: 15px;
  color: #0a3b12;
  border: 2px solid #bbe8b0;
  appearance: none;
}

.actualizar-crear {
  width: 30%;
  margin-left: 35%;
  border: 1px solid #016e09;
  border-radius: 10px;
  background-color: #016e09;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
}

.actualizar-crear:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #bffac7;
  border-color: #bffac7;
  color: #014b0b;
}

/*======== BOTÓN VERDE COMÚN EN TODAS LAS PÁGINAS =========*/
.btn-verde {
  display: inline-block; /*Para que no se bugue el botón (Hay algunos <a> inline)*/
  align-self: flex-start;
  background-color: #08a81d;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
}
.btn-verde:hover {
  transform: scale(1.1);
}

/*============= MENSAJES ERROR Y ADVERTECIA ===============*/
.advertencia {
  background-color: rgb(248, 237, 180);
  text-align: left;
  font-size: 14px;
  border-radius: 10px;
  border-bottom: 5px solid rgb(209, 200, 152);
  padding: 10px 10px 10px 30px;
  width: 30%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

/* ========== TABLAS ========= */

.tabla {
  border-collapse: collapse;
  border: 2px rgb(0, 94, 0) solid;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.tabla,
th,
td {
  background-color: #d8fcdc;
  border: 2px rgb(0, 94, 0) solid;
  padding: 10px;
  color: rgb(1, 61, 1);
}

.tabla th {
  background-color:#27a135;
}
